html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body{
    margin: 0;
    font-family: 'Roboto';
}
/* Header styling */
.header {
    display: flex;
    align-items: center;
    padding: 1rem 200px;
    gap: 30px;
    background-color: #1f2937;
    color: white;
    
}
.header .logo {
    font-size: x-large;
    font-weight: bold;
}
.header a {
    text-decoration: none;
    color: white;
}
.link.first-link {
    margin-left: auto;
}

/* hero part */
.hero-part {
    background-color: #1f2937;
    color: white;
    display: flex;
    gap: 2rem;
    padding: 4rem 200px;
}
.hero-part h1 {
    margin: 0;
}
.hero-part .text-part {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.hero-part button {
    background-color: #3882f6;
    padding: 5px 20px;
    border-radius: 5px;
    border: 2px rgba(255, 255, 255, 0) solid;
    color: white;
    font-weight: bold;
}

.hero-part button:hover {
    cursor: pointer;
    box-shadow: white 1px 1px 5px;
}
.hero-part button:active {
    border: 2px solid black;
}

.hero-part .text-part,
.hero-part .img-part {
    flex: 1;
}

.img-part {
    display: flex;
    align-items: center;
}

.img-part img {
    width: 100%;
    min-width: 200px;
}

/* middle-inf part */

.middle-inf h2 {
    text-align: center;
    color: #1f2937;
    font-size: 36px;
}
.box {
    width: 150px;
    height: 150px;
    background-color: #3882f6;
    border: #1f2987 solid 4px;
    border-radius: 7px;
}
.boxes-container p {
    width: 150px;
    text-align: center;
    color: rgba(0, 0, 0, 0.781);
}
.boxes-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 4rem;
}